// Core settings
@import "../../../../../cui/scss/_settings";
@import "../../../../../cui/scss/_utilities/_mixins";

// Consumer settings
@import "../../_settings";

// Component settings
@import "_utilities/_variables";
@import "_utilities/_mixins";


// Write your styles here:


// .sample {
//     background-color: $sample-bg-color;
// }