//   ========================================================
// * @name       _utilities/_variables.scss
// * @desc       sass variables
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150204
// * @see        https://github.com/nys-its/frg-coreui     
//   ========================================================


// * @section    Fonts
// * --------------------------------------------------------
$font-basic:           Arial, Consolas, sans-serif !default;
$font-family:          "ProximaNova", "Segoe UI", $font-basic !default;
$font-size:            16px !default;
$font-weight-light:    400 !default;
$font-weight-semibold: 600 !default;
// Headings
$font-heading:         $font-family !default;
// Required *
$font-required:        1.1em $font-basic !default;


// * @section    Colors
// * --------------------------------------------------------
$white:                #ffffff !default;
$dark-gray:            #333333 !default;
$light-gray:		   #dededc !default;
$light-gray-alt:       #eeeeec !default;
$light-gray-alt-2:     #bfbfbd !default;
$light-gray-alt-3:     #e7e7e5 !default;
$dark-gray-alt:        #454545 !default;
$text-error:           #b52c29 !default;
$text-warning:         #ba7b05 !default;
$text-information:     #1b2a5e !default;
$text-success:         #468453 !default;
$required-red:         #ee3300 !default;
$light-blue:           #19a6e2 !default;


// * @section    General
// * --------------------------------------------------------
$border-radius:        4px !default;
$margin-center-h:      0 auto !default;
$margin-center-v:      auto 0 !default;
$images-path:          "../../images/src/empire/" !default;


// * @section    Buttons
// * --------------------------------------------------------
$button-hover-color:   $light-gray !default;
$button-padding:       8px 12px !default;
$button-border-color:  #a5a5a3 !default;
$button-border-width:  1px !default;
$button-bg-color:      #d0d0ce !default;
$button-text-shadow:   rgb(255, 255, 255) 0px 1px 0px !default;
// Primary button
$button-primary-text-color:         $white !default;
$button-primary-bg-color:           #646460 !default;
$button-primary-border-color:       #5a5a56 !default;
$button-primary-border:             $button-border-width solid $button-primary-border-color !default;
$button-primary-text-shadow:        rgb(90, 90, 90) 0px 1px 0px !default;
$button-primary-border-hover-color: #444440 !default;
$button-primary-bg-hover-color:     #50504b !default;


// * @section    Inputs
// * --------------------------------------------------------
$input-border-color:   $light-gray-alt-2 !default;
$input-border-width:   1px !default;
$input-border:         $input-border-width solid $input-border-color !default;
$input-border-radius:   $border-radius !default;
$input-padding:        4px 10px 6px 10px !default;
$input-bg-hover-color: $light-gray !default;
$input-font-size:      14px !default;
$input-font-weight:    $font-weight-light !default;


// * @section    Grid
// * --------------------------------------------------------
$grid-gutter-width:    10px !default;


// * @section    Headers
// * --------------------------------------------------------
$header-padding:       0 0 0.4em 0 !default;


// * @section    Sections
// * --------------------------------------------------------
$section-padding:      0.7em 0 !default;


// * @section    Text (<p>, free text, etc.)
// * --------------------------------------------------------
$text-line-height:    1.4 !default;
$paragraph-padding:   0.7em !default;


// * @section    Tables
// * --------------------------------------------------------
$table-header-bg-color:     $light-gray !default;
$table-header-padding:      8px 12px !default;
$table-row-bg-alt-color:    $light-gray-alt !default;
$table-cell-border-width:   1px !default;
$table-cell-border-style:   solid !default;
$table-cell-border-color:   $light-gray-alt-2 !default;
$table-cell-border:         $table-cell-border-width $table-cell-border-style $table-cell-border-color !default;
$table-cell-padding:        4px 8px !default;
$table-button-padding:      $table-cell-padding !default;
$table-footer-cell-padding: 8px 6px !default;
$table-row-bg-hover-color:  $light-gray-alt-3;


// * @section    Lists
// * --------------------------------------------------------
$list-inline-spacing: 1em !default;


// * @section    Breakpoint
// * --------------------------------------------------------
$bp-tablet:           480px !default;
$bp-desktop:          786px !default;