@charset "UTF-8";
/**
 * @name       _buttonBasic.scss
 * @desc       Skinning for button styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui     
 */

/**
 * --------------------------------------------------------
 * @section    Default button styles
 * @todo       Extract eMPIRE-specific styles
 *             Take out IE7 hacks
 * --------------------------------------------------------
 */
.cui-button,
.cui-button-XXS,
.cui-button-XS,
.cui-button-S,
.cui-button-M,
.cui-button-L,
.cui-button-XL,
.cui-button-XXL,
.cui-button-short,
.cui-button-inline {
    width: auto;
    height: auto;
    padding: 2px 6px;
    *padding: 1px 6px 0 6px; /* IE7 */
    margin: 0;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    color: #333;
    border: 1px solid #7589A2;
    border-radius: 4px;
    background: #CED5DD url("../images/src/core/button-bg.png") top left repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F3F5F8), to(#CED5DD)) fixed;
    background-image: -webkit-linear-gradient(top, #F3F5F8 0%, #CED5DD 100%);
    background-image:    -moz-linear-gradient(top, #F3F5F8 0%, #CED5DD 100%);
    background-image:     -ms-linear-gradient(top, #F3F5F8 0%, #CED5DD 100%);
    background-image:      -o-linear-gradient(top, #F3F5F8 0%, #CED5DD 100%); 
}

.cui-button:hover,
.cui-button-XXS:hover,
.cui-button-XS:hover,
.cui-button-S:hover,
.cui-button-M:hover,
.cui-button-L:hover,
.cui-button-XL:hover,
.cui-button-XXL:hover,
.cui-button-short:hover {
    text-decoration: none;
    color: #333;
    background: #D7DDE3 url("../images/src/core/button-over-bg.png") top left repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F9FAFB), to(#D7DDE3)) fixed;
    background-image: -webkit-linear-gradient(top, #F9FAFB 0%, #D7DDE3 100%);
    background-image:    -moz-linear-gradient(top, #F9FAFB 0%, #D7DDE3 100%);
    background-image:     -ms-linear-gradient(top, #F9FAFB 0%, #D7DDE3 100%);
    background-image:      -o-linear-gradient(top, #F9FAFB 0%, #D7DDE3 100%);    
}

.cui-table cui-button,
.cui-table [class*="cui-button-"] {
    padding: 1px 5px;
    *padding: 0;
}

.cui-button-inline {
    margin-top: -1px !important;
    *margin-top: -4px !important; /* IE7 */
    margin-bottom: -2px !important;
    *margin-bottom: 0px !important; /* IE7 */
}

.cui-button-XXS {
    width: 25px;
}

.cui-button-XS {
    width: 35px;
}

.cui-button-S {
    width: 60px;
}

.cui-button-M {
    width: 90px;
}

.cui-button-L {
    width: 120px;
}

.cui-button-XL {
    width: 150px;
}

.cui-button-XXL {
    width: 200px;
}

.cui-button-primary {
    color: #FFF;
    border: 1px solid #405264;
    border-radius: 4px;
    background: #405264 url("../images/src/core/button-main-bg.png") top left repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#7D94AA), to(#405264)) fixed;
    background-image: -webkit-linear-gradient(top, #7D94AA 0%, #405264 100%);
    background-image:    -moz-linear-gradient(top, #7D94AA 0%, #405264 100%);
    background-image:     -ms-linear-gradient(top, #7D94AA 0%, #405264 100%);
    background-image:      -o-linear-gradient(top, #7D94AA 0%, #405264 100%);   
}

.cui-button-primary:hover {
    color: #FFF;
    background: #516377 url("../images/src/core/button-main-over-bg.png") top left repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#8FA2B5), to(#516377)) fixed;
    background-image: -webkit-linear-gradient(top, #8FA2B5 0%, #516377 100%);
    background-image:    -moz-linear-gradient(top, #8FA2B5 0%, #516377 100%);
    background-image:     -ms-linear-gradient(top, #8FA2B5 0%, #516377 100%);
    background-image:      -o-linear-gradient(top, #8FA2B5 0%, #516377 100%);      
}