//   ========================================================
// * @name       _button.scss
// * @desc       Skinning for buttons
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150206
//   ========================================================


// * @section    Logo
// * --------------------------------------------------------

.emp-button-XXS {
    width: 25px;
}

.emp-button-XS {
    width: 35px;
}

.emp-button-S {
    min-width: 60px;
}

.emp-button-M {
    width: 90px;
}

.emp-button-L {
    width: 120px;
}

.emp-button-XL {
    width: 150px;
}

.emp-button-XXL {
    width: 200px;
}