@charset "UTF-8";
/**
 * @name       _listBasic.scss
 * @desc       Skinning for list styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui     
 */

/**
 * --------------------------------------------------------
 * @section    Lists and bullets
 * @todo       Extract eMPIRE-specific styles
 *             Take out IE7 hacks
 * --------------------------------------------------------
 */
ol, ul {
}

.cui-list-horizontal-block a {
    vertical-align: top;
}

.cui-list-horizontal img, .cui-list-horizontal-block img, .cui-list-vertical img {
    vertical-align: middle;
}

/*   .Bullets
 -------------------------------------- */
.cui-default-bullet {
    list-style: disc inside none;
}

.cui-default-bullet li {
    margin-left: 1em;
    padding: 0.4em 0;
}

.cui-line-separator li {
    padding: 0 6px 0 7px;
}

.cui-line-separator-last-item {
    padding-right: 0;
}