# Generated folders
node_modules/
dist/
docs/

# Support Files
*.sublime-*
*.log
*/.gitignore
.DS_Store
Thumbs.db

# Component and Library ignores
src/cui/components/*/tasks
src/cui/libs/*/tasks
src/project/components/*/tasks
src/project/libs/*/tasks

# Temp
local_docs/
tasks/libs/requireManager/logs
tasks/libs/requireManager/temp

# For GitEYE GUI
/.project
