//   ========================================================
// * @name       _link.scss
// * @desc       Anchor tag styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/ny/frg-coreui
//   ========================================================


// * @section    Link styles
// * --------------------------------------------------------
a,
a:link,
a:active,
a:visited,
a:focus {
    color: $light-blue;
    font-weight: $font-weight-semibold;
    text-decoration: none;
}

a:hover,
a:visited:hover {
    text-decoration: underline;
}
