//   ========================================================
// * @name       _global.scss
// * @desc       Global styles
// * @author     Manolo Farfan
// * @version    1.0.0.20141231
// * @see        https://github.com/nys-its/frg-empire     
//   ========================================================


// * @section    Logo
// * --------------------------------------------------------
#emp-logo {
	background: transparent url($images-path + "logo.png") 10px 4px no-repeat;
	min-width: 155px;
	height: 60px;
}