//   ========================================================
// * @name       _utilities/_variables.scss
// * @desc       sass variables
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150204
// * @see        https://github.com/nys-its/frg-coreui
//   ========================================================


// * @section    Fonts
// * --------------------------------------------------------
$font-basic:           Arial, sans-serif !default;
$font-family:          "Proxima Nova", $font-basic !default;
$font-size:            14px !default;
$font-weight-light:    400 !default;
$font-weight-semibold: 600 !default;
// Headings
$font-heading:         $font-family !default;
// Required *
$font-required:        1.1em $font-basic !default;


// * @section    Colors
// * --------------------------------------------------------



// * @section    General
// * --------------------------------------------------------
$emp-images-path:          "../../../src/images/empire/" !default;


// * @section    Buttons
// * --------------------------------------------------------


// * @section    Inputs
// * --------------------------------------------------------


// * @section    Headers
// * --------------------------------------------------------


// * @section    Sections
// * --------------------------------------------------------
$section-padding:      0 !default;
$section-margin:       0.7em 0.5em !default;

$section-row-margin:   0 auto 10px auto !default;

$section-border-color: $light-gray-alt !default;
$section-border-width: 1px !default;
$section-border-style: solid !default;
$section-border:       $section-border-color $section-border-width $section-border-style !default;

$section-header-border-color: darken($section-border-color, 10%) !default;
$section-header-border-width: $section-border-width !default;
$section-header-border-style: $section-border-style !default;
$section-header-border:       $section-header-border-color $section-header-border-width $section-header-border-style !default;

$section-header-bgcolor: $light-gray !default;


// * @section    Text (<p>, free text, etc.)
// * --------------------------------------------------------


// * @section    Tables
// * --------------------------------------------------------


// * @section    Lists
// * --------------------------------------------------------
