//   ========================================================
// * @name       _utilities/_variables.scss
// * @desc       sass variables
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150204
// * @see        https://github.com/nys-its/frg-coreui
//   ========================================================

@import "../_settings";

// * @section    General
// * --------------------------------------------------------
$emp-images-path:          "../../../src/images/empire/" !default;


// * @section    Colors
// * --------------------------------------------------------
$empire-base-blue:     #002D72;


// * @section    Fonts
// * --------------------------------------------------------
$font-size:            14px;


// * @section    Empire header
// * --------------------------------------------------------
$header-min-height:    72px;


// * @section    General header
// * --------------------------------------------------------
$general-header-border-color:  lighten($empire-base-blue, 62%);
$general-header-bg-color:      lighten($empire-base-blue, 72%);


// * @section    Tabset
// * --------------------------------------------------------
$tabset-title-padding-top:    2px;


// * @section    Indicators
// * --------------------------------------------------------
$indicator-bg-color:           lighten($text-error, 10%);


// * @section    Buttons
// * --------------------------------------------------------


// * @section    Inputs
// * --------------------------------------------------------
$emp-label-width: 200px !default;

// * @section    Headers
// * --------------------------------------------------------


// * @section    Sections
// * --------------------------------------------------------
$section-padding:        0 !default;
$section-margin:         0.75em 0 1em 0 !default;
$section-margin-desktop: 0.75em 0.5em !default;

$section-row-padding-top:    0    !default;
$section-row-padding-right:  5px  !default;
$section-row-padding-bottom: 0 !default;
$section-row-padding-left:   5px  !default;
$section-row-padding:        $section-row-padding-top $section-row-padding-right $section-row-padding-bottom $section-row-padding-left !default;

$section-row-padding-desktop: $section-row-padding-top 0 10px 0 !default;

$section-border-color: $light-gray-alt !default;
$section-border-width: 1px !default;
$section-border-style: solid !default;
$section-border:       $section-border-color $section-border-width $section-border-style !default;

$section-header-border-color: darken($section-border-color, 10%) !default;
$section-header-border-width: $section-border-width !default;
$section-header-border-style: $section-border-style !default;
$section-header-border:       $section-header-border-color $section-header-border-width $section-header-border-style !default;

$section-header-bgcolor: $light-gray !default;


// * @section    Text (<p>, free text, etc.)
// * --------------------------------------------------------


// * @section    Tables
// * --------------------------------------------------------


// * @section    Lists
// * --------------------------------------------------------
