//   ========================================================
// * @name       _utilities/_variables.scss
// * @desc       sass variables
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150204
// * @see        https://github.com/nys-its/frg-coreui
//   ========================================================


// * @section    General
// * --------------------------------------------------------
$emp-images-path:          "../../../src/images/empire/";


// * @section    Breakpoint
// * --------------------------------------------------------
$bp-tablet:        600px;
$bp-tablet-minus:  $bp-tablet - 1px;
$bp-desktop:       920px;
$bp-desktop-minus: $bp-desktop - 1px;


// * @section    Colors
// * --------------------------------------------------------
$empire-base-blue:     #002D72;


// * @section    Fonts
// * --------------------------------------------------------
$font-size:            14px;


// * @section    Empire header
// * --------------------------------------------------------
$header-min-height:    72px;


// * @section    General header
// * --------------------------------------------------------
$general-header-border-color:  lighten($empire-base-blue, 62%);
$general-header-bg-color:      lighten($empire-base-blue, 72%);


// * @section    Tabset
// * --------------------------------------------------------
$tabset-title-padding-top:    2px;


// * @section    Indicators
// * --------------------------------------------------------
$indicator-bg-color:           lighten($text-error, 10%);


// * @section    Buttons
// * --------------------------------------------------------


// * @section    Inputs
// * --------------------------------------------------------
$emp-label-width: 200px;

// * @section    Headers
// * --------------------------------------------------------
$section-header-font-size: 20px;

// * @section    Sections
// * --------------------------------------------------------
$section-padding:        0;
$section-margin:         0.75em 0 1em 0;
$section-margin-desktop: 0.75em 0.5em;

$section-row-padding-top:    0   ;
$section-row-padding-right:  5px ;
$section-row-padding-bottom: 0;
$section-row-padding-left:   5px ;
$section-row-padding:        $section-row-padding-top $section-row-padding-right $section-row-padding-bottom $section-row-padding-left;

$section-row-padding-desktop: $section-row-padding-top 0 10px 0;

$section-border-color: $light-gray-alt;
$section-border-width: 1px;
$section-border-style: solid;
$section-border:       $section-border-color $section-border-width $section-border-style;

$section-header-border-color: darken($section-border-color, 10%);
$section-header-border-width: $section-border-width;
$section-header-border-style: $section-border-style;
$section-header-border:       $section-header-border-color $section-header-border-width $section-header-border-style;

$section-header-bgcolor: $light-gray;


// * @section    Text (<p>, free text, etc.)
// * --------------------------------------------------------


// * @section    Tables
// * --------------------------------------------------------


// * @section    Lists
// * --------------------------------------------------------
