/*
=======================================================================
 New York State Department of Taxation and Finance
 User Interface Team
 eMPIRE2-specific common styles
 Version 1.0.0.20121031
=======================================================================

----------------------------------------
 Contents
----------------------------------------
    Global
    Sections
        Preferences list
        Global header
        General header
        Tab strip
        Search box
        Page title
        Indicators
        As of
        CSS Flags
    Icon buttons
    Custom container
        Label/data
    Page-specific
    	IPA Bars
*/


/* ----------------------------------------
   .Global
   ---------------------------------------- */
.logo {
    width: 180px;
}

h1 {
    width: 170px;
    height: 60px;
    text-indent: -9999px;
}

.show-hide {
    position: absolute;
}

.print-only {
    display: none;
}

@media print {
    .print-only {
    	display: block;
    }
}

/* ----------------------------------------
   .Sections
   ---------------------------------------- */

/*   .Preferences list
   ---------------------------------------- */
.preferences a {
    padding: 5px 3px;
    text-decoration: none;
}

.preferences a:hover {
    text-decoration: none;
}

.preferences .has-sub-menu a {
    padding: 5px 14px 5px 3px;
}

/*   .Global header
   ---------------------------------------- */
.global-header h2 {
	margin-top: 1px;
}

/*   .General header
   ---------------------------------------- */
.general-header .content {
    margin: 0 6px;
    padding: 8px 4px 10px 4px;
}

.taxpayer-info .its-label-wrap, .taxpayer-info .its-data-wrap {
    line-height: 1.6em;
}

.taxpayer-info .its-icon-button {
    margin-top: 1px;
    *margin-top: 0;
}

.button-wrapper-left, .button-wrapper-right {
    width: 6em;
}

.workflow-actions {
    width: auto;
}

/*   .Tab strip
   ---------------------------------------- */
.its-tab-strip .show-hide {
    top: 0.5em;
    right: 0.1em;
}

.its-tab-strip .show-hide a {
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
	width: 22px !important;
    height: 16px !important;
}

/*   .Search box
   ---------------------------------------- */
.search-box {
    position: relative;
}

.search-wrapper {
    position: relative;
    margin-bottom: 15px;
    min-height: 15px;
}

.search-box .show-hide {
    bottom: -1px;
    right: 6px;
	padding: 0;
	margin: 0;
    z-index: 10;
}

.search-box .show-hide a {
	display: inline-block;
	width: 27px;
    height: 16px;
}

.search-box .show-hide img {
    vertical-align: top;
}

.search-box .button-wrapper-left, .search-box .button-wrapper-right {
    position: absolute;
    top: 0;
    width: 6.3em;
    height: 100%;
}

.search-box .button-wrapper-left {
    left: 0;
}

.search-box .button-wrapper-right {
    right: 0;
}

.search-box .search-fields-wrapper {
    position: relative;
    min-height: 6.9em;  
}

.search-box .search-fields {
    position: relative;
    float: right;
    margin: 0 9em;
    text-align: right;
}

.search-box .search-fields .its-line {
    *width: auto;
}

.search-box .search-fields input, .search-box .search-fields textarea {
    *margin-top: -3px;
}

.search-box .its-label-wrap, .search-box .its-data-wrap {
    line-height: 1.8em;
}

.search-box .its-label {
    margin-left: 25px;
}

.no-tab-strip {
    border-top: 1px solid #757575;
    margin-top: 4px; 
}

.search-box .its-money {
    width: 100%;
}

/* Hopefully these IE7 hacks will be here temporarily */
.search-box .search-fields > .its-line {
    *margin-bottom: 0px !important;
    *margin-top: -3px;
}
.search-box .search-fields > .its-line .its-col {
    *padding-top: 2px;
    *padding-bottom: 2px;
}

/*   .Page title
   ---------------------------------------- */
.page-title .its-col {
    padding: 0 0.2em;
    min-height: 2em;
}

.page-title li {
	float: left;
}

.page-title a {
    padding: 0.2em;
}

/*   .Indicators
   ---------------------------------------- */
.page-indicators li {
	/*float: left;*/
	padding: 1px 0.3em;
	margin: 0 0.1em 0.25em 0.1em;
    white-space: nowrap;
}

.page-indicators a {
    padding: 0 20px 0 0.3em;
    white-space: nowrap;
    text-decoration: none;
}

.indicator-type-1, .indicator-type-2 {
    display: inline-block;
    padding: 0 2px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
	line-height: 1.1em;
}

/*   .As of
   ---------------------------------------- */
.as-of input {
    *vertical-align: middle;
	font: normal 120% Tahoma, Arial, Consolas, sans-serif;
}

/*   .As of
   ---------------------------------------- */
.section-header-flag {
}


/* ----------------------------------------
   .Icon buttons
   ---------------------------------------- */   
.table-resizer {
    width: 23px;
}


/* ----------------------------------------
   .Custom containers
   ---------------------------------------- */

/*   .Label/data
   ---------------------------------------- */
.label-cust-1 .its-label-wrap { width: 200px; }
.label-cust-1 .its-data-wrap { width: auto; }


/* ----------------------------------------
   .Page-specific
   ---------------------------------------- */

/*   .IPA Bars
   ---------------------------------------- */
.ipa-bar-red,
.ipa-bar-yellow,
.ipa-bar-green {
    letter-spacing: 1px;
    padding: 0px 6px;
    text-transform: uppercase;
}

.ipa-bar-red {
	width: 80%;
}

.ipa-bar-yellow {
	width: 60%;
}

.ipa-bar-green {
	width: 40%;
}