@charset "UTF-8";
/**
 * @name       _iconbutton.scss
 * @desc       Icon-based button styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui     
 */

/**
 * --------------------------------------------------------
 * @section    Default icon-based button styles
 * @todo       Extract eMPIRE-specific styles
 * --------------------------------------------------------
 */
.cui-icon-buttons {
    position: absolute;
}

.cui-icon-buttons li {
    float: left;
}

.cui-icon-buttons a {
    display: inline-block;
}

/*   .Indicators
   ---------------------------------------- */
.page-indicators li {
    color: #FFF;
    background: #D05029 url("../../../images/common/indicators-bg.png") bottom left repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D05029), to(#CC1500)) fixed;
    background-image: -webkit-linear-gradient(top, #D05029 0%, #CC1500 100%);
    background-image:    -moz-linear-gradient(top, #D05029 0%, #CC1500 100%);
    background-image:     -ms-linear-gradient(top, #D05029 0%, #CC1500 100%);
    background-image:      -o-linear-gradient(top, #D05029 0%, #CC1500 100%);
    border: 1px solid #993300;
    border-radius: 4px;
}

.page-indicators a {
    color: #FFF;
    background: transparent url("../../../images/common/notifier-popup.png") center right no-repeat;
}

.emp-tpinfo .cui-data span {
    display: inline-block;
    line-height: 2;
}

.emp-indicator-1, .emp-indicator-2 {
    position: relative;
    border-radius: 3px;
    font-weight: $font-weight-semibold;
    width: 1.5em;
    height: 1.5em;
    margin-top: 0.2em;
    vertical-align: top;
    @include hide-text;
}

[class*="emp-indicator-"]:after {
    display: block;
    position: absolute;
    content: attr(alt);
    text-indent: 0;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: $white;
    top: -0.1em;
    left: -0.1em;
}

.emp-indicator-1 {
    background: #CC0000 url("../../../images/common/indicators.png") top left repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D88F81), to(#CC1500)) fixed;
    background-image: -webkit-linear-gradient(top, #D88F81 0%, #CC1500 100%);
    background-image:    -moz-linear-gradient(top, #D88F81 0%, #CC1500 100%);
    background-image:     -ms-linear-gradient(top, #D88F81 0%, #CC1500 100%);
    background-image:      -o-linear-gradient(top, #D88F81 0%, #CC1500 100%);
    border: 1px solid #663333;
    color: #FFF;
}