//   ========================================================
// * @name       _iconbutton/_variables.scss
// * @desc       sass variables
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150204
// * @see        https://github.com/ny/frg-coreui
//   ========================================================


// * @section    General header indicators
// * --------------------------------------------------------
.emp-tp-info .cui-data span {
    display: inline-block;
    line-height: 1.5;
}

.emp-indicator-1, .emp-indicator-2 {
    position: relative;
    width: 1.5em;
    height: 1.5em;
    background-color: $indicator-bg-color;
    border: 1px solid #454545;
    border-radius: 3px;
    font-weight: $font-weight-semibold;
    color: $white;
    margin: 0 0 0 0.2em;
    vertical-align: top;
    @include hide-text;
}

[class*="emp-indicator-"]:after {
    display: block;
    position: absolute;
    content: attr(alt);
    text-indent: 0;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    text-align: center;
    color: $white;
    top: -0.1em;
    left: -0.1em;
}









.emp-icon-redcheck {
    &:after {
        position: absolute;
        top: 0;
        left: 0;

        // Temp?
        content: "\2713";
        color: $required-red;
        font-weight: bold;
    }
}

.emp-icon-buttons {
    position: absolute;
}

.emp-icon-buttons li {
    float: left;
}

.emp-icon-buttons a {
    display: inline-block;
}

/*   .Indicators
   ---------------------------------------- */
.page-indicators li {
    color: #FFF;
    background: #D05029 url("../../../images/common/indicators-bg.png") bottom left repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#D05029), to(#CC1500)) fixed;
    background-image: -webkit-linear-gradient(top, #D05029 0%, #CC1500 100%);
    background-image:    -moz-linear-gradient(top, #D05029 0%, #CC1500 100%);
    background-image:     -ms-linear-gradient(top, #D05029 0%, #CC1500 100%);
    background-image:      -o-linear-gradient(top, #D05029 0%, #CC1500 100%);
    border: 1px solid #993300;
    border-radius: 4px;
}

.page-indicators a {
    color: #FFF;
    background: transparent url("../../../images/common/notifier-popup.png") center right no-repeat;
}

