// /**
//  * @name       _link.scss
//  * @desc       Anchor tag styles
//  * @author     Manolo Farfan
//  * @version    1.0.0.20141231
//  * @see        https://github.com/nys-its/frg-coreui/coreui
//  */

a,
a:link,
a:visited,
a:active,
a:hover,
a:focus {
}