/**
 * @name       _message.scss
 * @desc       Messages styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/ny/frg-coreui
 */

/**
 * --------------------------------------------------------
 * @section    Messages for error, warning, success, etc.
 * @todo       Extract eMPIRE-specific styles
 * --------------------------------------------------------
 */
.cui-list-messages {
    overflow: hidden;
}

.cui-list-messages li {
    float: left;
    clear: both;
}

.cui-type-error div,
.cui-type-warning div,
.cui-type-informational div,
.cui-type-success div {
    float: left;
}
