// /**
//  * @name       _section.scss
//  * @desc       Section styles
//  * @author     Manolo Farfan
//  * @version    1.0.0.20141231
//  * @see        https://github.com/nys-its/frg-coreui/coreui
//  */

// /**
//  * --------------------------------------------------------
//  * @section    Section styles
//  * @todo       Extract eMPIRE-specific styles
//  * --------------------------------------------------------
//  */
section {
    border-top: $section-border;
    border-bottom: $section-border;
    padding: $section-padding;
    margin: $section-margin;

    // Add side borders and margin on larger screens
    @include pointbreak($bp-desktop) {
        border-left: $section-border;
        border-right: $section-border;
        margin: $section-margin-desktop;
    }

    & > header {
        padding: 0;
        // padding: 0.35em 0 0.25em 0;
        border-bottom: $section-header-border;
        background-color: $section-header-bgcolor;
        min-height: 0;

        [class*="cui-col-"] {
            padding: 0;
            min-height: $section-header-min-height;

            > * {
                margin-top: ($section-header-min-height - $font-size) / 2; // Top/bottom margin is half of the remainder of the min-height minus the font size (i.e. vertically center the h3)
                margin-bottom: ($section-header-min-height - $font-size) / 2; // Top/bottom margin is half of the remainder of the min-height minus the font size (i.e. vertically center the h3)
            }
        }

        h3 {
            font-size: $section-header-font-size;
            padding: 0;
            margin-top: ($section-header-min-height - $section-header-font-size) / 2; // Top/bottom margin is half of the remainder of the min-height minus the font size (i.e. vertically center the h3)
            margin-bottom: ($section-header-min-height - $section-header-font-size) / 2; // Top/bottom margin is half of the remainder of the min-height minus the font size (i.e. vertically center the h3)
        }

        // Vertically align standalone "fields" by giving them the same line-height as the title's height
        .emp-field {
            line-height: $section-header-font-size;
        }
    }

    // Sub-section
    section {
        border: 1px solid #BED0D8;

        & > header {
            padding: 0.25em 0 0.15em 0;

            h3 {
                font-size: 93%;
            }
        }
    }

    // Sub-sub-section
    section section {
        border: 1px solid #CADADF;

        & > header {
            padding: 0.15em 0 0.05em 0;
            border-bottom: 1px solid #CADADF;
            background-color: #F5F7F8;

            h3 {
                font-size: 86%;
            }
        }
    }

    // Sub-sub-sub-section (level 4)
    section section section {
        & > header {
            padding: 0.05em 0 0 0;

            h3 {
                font-size: 79%;
            }
        }
    }
}

.emp-section-controls {
    list-style: none outside none;
    float: right;
    margin-right: 1em;

    li {
        display: block;
        float: left;
    }
}