@charset "UTF-8";
/**
 * @name       _section.scss
 * @desc       Section styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui
 */

/**
 * --------------------------------------------------------
 * @section    Section styles
 * @todo       Extract eMPIRE-specific styles
 * --------------------------------------------------------
 */
section {
    border-top: $section-border;
    border-bottom: $section-border;
    padding: $section-padding;

    @include pointbreak($bp-tablet) {
        border-left: $section-border;
        border-right: $section-border;
        margin: $section-margin;
    }

    & > header {
        // padding: 0.35em 0 0.25em 0;
        border-bottom: $section-header-border;
        background-color: $section-header-bgcolor;

        [class*="cui-col="] {
            // padding: 0 !important;
        }

        h3 {
            font-size: 24px;
            padding: 0;
            margin: 0.25 0;
        }
    }

    .cui-row {
        margin: $section-row-margin;

        [class*="cui-col="] {
            padding: 4px 0 2px 0;
            margin: 1px 0;
        }
    }

    // Sub-section
    section {
        border: 1px solid #BED0D8;

        & > header {
            padding: 0.25em 0 0.15em 0;

            h3 {
                font-size: 93%;
            }
        }
    }

    // Sub-sub-section
    section section {
        border: 1px solid #CADADF;

        & > header {
            padding: 0.15em 0 0.05em 0;
            border-bottom: 1px solid #CADADF;
            background-color: #F5F7F8;

            h3 {
                font-size: 86%;
            }
        }
    }

    // Sub-sub-sub-section (level 4)
    section section section {
        & > header {
            padding: 0.05em 0 0 0;

            h3 {
                font-size: 79%;
            }
        }
    }
}

.emp-section-controls {
    list-style: none outside none;

    li {
        display: block;
        float: left;
    }
}
