// /**
//  * @name       _section.scss
//  * @desc       Section styles
//  * @author     Manolo Farfan
//  * @version    1.0.0.20141231
//  * @see        https://github.com/nys-its/frg-coreui/coreui
//  */

// /**
//  * --------------------------------------------------------
//  * @section    Section styles
//  * @todo       Extract eMPIRE-specific styles
//  * --------------------------------------------------------
//  */
section {
    border-top: $section-border;
    border-bottom: $section-border;
    padding: $section-padding;
    margin: $section-margin;

    // Add side borders and margin on larger screens
    @include pointbreak($bp-desktop) {
        border-left: $section-border;
        border-right: $section-border;
        margin: $section-margin-desktop;
    }

    & > header {
        padding: 0;
        // padding: 0.35em 0 0.25em 0;
        border-bottom: $section-header-border;
        background-color: $section-header-bgcolor;
        min-height: 0;

        [class*="cui-col-"] {
            padding: 0;
            min-height: $section-header-min-height;

            > * {
                margin-top: ($section-header-min-height - $font-size) / 2; // Top/bottom margin is half of the remainder of the min-height minus the font size (i.e. vertically center the h3)
                margin-bottom: ($section-header-min-height - $font-size) / 2; // Top/bottom margin is half of the remainder of the min-height minus the font size (i.e. vertically center the h3)
            }
        }

        h3 {
            font-size: $section-header-font-size;
            padding: 0;
            margin-top: ($section-header-min-height - $section-header-font-size) / 2; // Top/bottom margin is half of the remainder of the min-height minus the font size (i.e. vertically center the h3)
            margin-bottom: ($section-header-min-height - $section-header-font-size) / 2; // Top/bottom margin is half of the remainder of the min-height minus the font size (i.e. vertically center the h3)
        }
    }

    .cui-row {
        padding: $section-row-padding;

        @include pointbreak($bp-desktop) {
            padding: $section-row-padding;
        }

        [class*="cui-col-"],
        [class*="emp-col-"] {
            padding: 4px 0 2px 0;
            margin: 1px 0;
        }
    }

    // Sub-section
    section {
        border: 1px solid #BED0D8;

        & > header {
            padding: 0.25em 0 0.15em 0;

            h3 {
                font-size: 93%;
            }
        }
    }

    // Sub-sub-section
    section section {
        border: 1px solid #CADADF;

        & > header {
            padding: 0.15em 0 0.05em 0;
            border-bottom: 1px solid #CADADF;
            background-color: #F5F7F8;

            h3 {
                font-size: 86%;
            }
        }
    }

    // Sub-sub-sub-section (level 4)
    section section section {
        & > header {
            padding: 0.05em 0 0 0;

            h3 {
                font-size: 79%;
            }
        }
    }
}

.emp-section-controls {
    list-style: none outside none;
    float: right;
    margin-right: 1em;

    li {
        display: block;
        float: left;
    }
}

.emp-col-half {
    width: 100%;

    // Side by side on large screens
    @include pointbreak($bp-tablet) {
        width: 50%;
        float: left;
    }


    // Second col becomes a new "row"
    & + .emp-col-half {
        padding: $section-row-padding;

        @include pointbreak($bp-tablet) {
            padding: 0;
        }
    }

    // Right-aligned column with nothing to the left of it
    // Sticks to the left for small
    &.cui-pull-right {
        text-align: left;

        // Floats right for medium
        @include pointbreak($bp-tablet) {
            text-align: left;
            float: right;
        }

        // Floats and aligns right for large
        @include pointbreak($bp-desktop) {
            text-align: left;
        }
    }

    // Inside button groups
    .emp-button-group & {
        // The left and right sides often have different amounts of buttons so a 50/50 split doesn't work (one side may wrap unnecessarily). So we use `table-cell` to let them divide the width as needed.
        display: table-cell;
        width: auto;
        // margin: 0;
    }
}