@charset "UTF-8";
/**
 * @name       _table.scss
 * @desc       Table styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui
 */

/**
 * --------------------------------------------------------
 * @section    Default table styles
 * @todo       Extract eMPIRE-specific styles
 *             Take out IE7 hacks
 * --------------------------------------------------------
 */
.emp-table {
    overflow-y: hidden;
    overflow-x: scroll;
    // display: none;
}

table {
    empty-cells: show;
}

// What's this for, frozen columns? (CP)
// .cui-table-fixed {
//     table-layout: fixed;
// }

.cui-sortable {
    display: inline-block;
}

/**
 * --------------------------------------------------------
 * @section    List table (i.e. subscription lists)
 * @todo       Extract eMPIRE-specific styles
 * --------------------------------------------------------
 */