/**
 * @name       _template.scss
 * @desc       Specific structure styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui
 */

/**
 * --------------------------------------------------------
 * @section    Styles for specific structures
 * @todo       Extract eMPIRE-specific styles
 *             Check if needed or old IE7 support
 * --------------------------------------------------------
 */
.page {
    width: auto;
    *zoom: 1;
}

.cui-body {
    *zoom: 1;
}

.cui-body:after {
    clear: both;
    display: block;
    visibility: hidden;
    overflow: hidden;
    height: 0 !important;
    content:" ";
}

header,
.cui-header {
}

footer,
.cui-footer {
}

.cui-generated {
}

.cui-body,
.cui-header,
.cui-footer,
.cui-generated {
    width: auto;
}