//   ========================================================
// * @name       _skin/_button.scss
// * @desc       Skinning for button styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/nys-its/frg-coreui
//   ========================================================


// * @section    Default button styles
// * --------------------------------------------------------
input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    @include button;
}

input[type="button"],
input[type="reset"],
input[type="submit"],
button {
    padding: $button-padding;
}

button:hover,
input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
    border-color: $button-border-color;
    background-color: $button-bg-color;
}


// * @section   Specific button styles
// * @desc      Primary button
// * --------------------------------------------------------
.cui-button-primary {
    color: $white;
    border: $button-primary-border;
    background-color: $button-primary-bg-color;
    text-shadow: $button-primary-text-shadow;
}

.cui-button-primary:hover {
    border-color: $button-primary-border-hover-color;
    background-color: $button-primary-bg-hover-color;
}
