//   ========================================================
// * @name       _skin/_form.scss
// * @desc       Skinning for form and form tag styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/nys-its/frg-coreui
//   ========================================================


// * @section    Form tags like input, select, textarea, etc.
// * @todo       Add Proxima Nova + other default NYGOV fonts
// * --------------------------------------------------------
input,
textarea,
select {
    font: 100% $font-family;
    border-radius: $input-border-radius;
    border: $input-border;
    padding: $input-padding;
    color: $dark-gray;
    @include input-shadow;
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

    &:focus{
        border-color: $input-border-color-focus;
        box-shadow: $input-boxshadow-focus;
        outline: 0;
    }
}

input[type="checkbox"],
input[type="radio"] {
    position: relative;
    top: 1px;
    line-height: normal;
}

input[type="checkbox"],
input[type="radio"],
input[type="image"] {
    border: none;
}

fieldset {
    @include no-padding-margin;
    border: none;
}

.cui-currency input {
    text-align: right;
}


// * @section    Selection groups
// * --------------------------------------------------------
// Add media queries for IE8 support
@media (min-width: 0px) {
    .cui-selection-group {
        label {
            // Colors and paddings matches buttons styles
            background: $white;
            padding: $button-padding;
            border: $input-border;
            text-shadow: $white 0px 1px 0px;
            line-height: 1;

            // Keep this line (must come after default `border` definition)
            border-right: none;

            // First label in the group
            &:first-of-type {
                border-top-left-radius: $input-border-radius;
                border-bottom-left-radius: $input-border-radius;
            }

            // Last label in the group
            &:last-of-type {
                border-top-right-radius: $input-border-radius;
                border-bottom-right-radius: $input-border-radius;

                // Color matches buttons styles
                border-right: $input-border;
            }

            &:hover {
                // Color matches buttons
                background: $input-bg-hover-color;
            }
        }

        // Highlighted label
        input:checked + label {
            // Color matches buttons styles
            background: $input-bg-hover-color;
        }
    }
}


// * @section    Input field appends/prepends
// * --------------------------------------------------------
.cui-input-wrapper {
    input,
    .input-prepend,
    .input-append {
        display: block;
        float: left;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    // Keep borders rounded if no prepend
    :first-child:not(.input-prepend) {
        border-top-left-radius: $input-border-radius;
        border-bottom-left-radius: $input-border-radius;
    }

    // Keep borders rounded if no append
    :last-child:not(.input-append) {
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }

    .input-prepend,
    .input-append {
        border: $input-border;
        @include box-sizing(content-box);
        line-height: 1;
        background: $input-bg-hover-color;
        padding: 5px 10px 7px 10px;
    }

    .input-prepend {
        border-right: none;
        border-top-left-radius: $input-border-radius;
        border-bottom-left-radius: $input-border-radius;
    }

    .input-append {
        border-left: none;
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
    }

    // When currency keep number inside input closer to append
    &.cui-currency input {
        padding-right: 4px;
    }

    // When currency keep number inside append closer to input
    &.cui-currency .input-append {
        padding-left: 4px;
    }
}
