//   ========================================================
// * @name       _skin/_global.scss
// * @desc       Skinning for global styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/nys-its/frg-coreui
//   ========================================================

// * @section    Define base font types and adjustments
// * @todo       Add Proxima Nova + other default NYGOV fonts
// * @see        http://css-tricks.com/rems-ems/ for font sizes
// * --------------------------------------------------------
body {
    font-size: $font-size;
    font-family: $font-family;
    color: $dark-gray;
}
