//   ========================================================
// * @name       _skin/_labeldata.scss
// * @desc       Skinning for labels and data styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/nys-its/frg-coreui     
//   ========================================================


// * @section    Label/data wrapper styles
// * --------------------------------------------------------
 label,
 legend {
    color: $dark-gray;
    width: auto;
}

[class*="cui-col-"] {
    min-height: 1.5em;
}

.cui-label,
.cui-data {
    line-height: 2;
    padding: auto 0;
}

.cui-label {
    padding-right: 0.2em;
}

.cui-data {
    padding-left: 0.2em;
}

.cui-required label:after {
    color: $required-red;
    font: $font-required;
    font-weight: $font-weight-semibold;
    margin-left: 0.2em;
}