//   ========================================================
// * @name       _skin/_list.scss
// * @desc       Skinning for list styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/nys-its/frg-coreui
//   ========================================================


// * @section    Lists and bullets
// * @todo       Extract eMPIRE-specific styles
// * --------------------------------------------------------
ol,
ul {
    padding-left: 0;
    margin: 0;
}

li {
    list-style-position: inside;

    img {
        vertical-align: middle;
        line-height: normal;
    }

    .cui-list-inline & {
        list-style-position: $list-inline-spacing;
        list-style-type: none;
        padding-right: $list-inline-spacing;
    }
}
