@charset "UTF-8";
/**
 * @name       _miscBasic.scss
 * @desc       Skinning for miscellaneous styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui     
 */

/**
 * --------------------------------------------------------
 * @section    Core UI miscellaneous default ui patterns
 * @todo       Extract eMPIRE-specific styles
 *             Take out IE7 hacks
 * --------------------------------------------------------
 */
.cui-col img {
    vertical-align: middle;
}

.cui-section img,
.cui-data img {
    margin-top: -3px;
    *margin-top: 0; /* IE7 */
}

.cui-text {
    padding: 0.3em 0;
}

.cui-text a {
    text-decoration: underline;
}

.cui-money {
    width: 12.45em;
}

.cui-icon-button {
    font-size: 0 !important;
    color: transparent !important;
    text-indent: 1000em;
    *text-indent: 0;
    vertical-align: text-top;
    height: 16px;
    width: 16px;
}

.cui-icon-button:active,
.cui-icon-button:hover,
.cui-icon-button:visited {
	text-decoration: none !important;
    color: transparent;
}

.cui-font-size-XXS {
    font-size: 75%;
}

.cui-font-size-XS {
    font-size: 80%;
}

.cui-font-size-S {
    font-size: 90%;
}

.cui-font-size-M {
    font-size: 100%;
}

.cui-font-size-L {
    font-size: 110%;
}

.cui-font-size-XL {
    font-size: 120%;
}

.cui-font-size-XXL {
    font-size: 130%;
}

.cui-font-size-XXXL {
    font-size: 140%;
}

.cui-dashed-separator {
    height: 1px;
    margin: 0.5em 0px 0.4em 0px !important;
    border-bottom: 1px dashed #999;
}

.cui-disabled {
    color: #999 !important;
}

.cui-has-border {
    border-color: #CCC;
}

.cui-color-orange {
    color: #FF6600;
}

.cui-color-red {
    color: #EE3300;
}

.cui-light-blue {
    color: #28A1E2;
}