.cui-popover {
    position: absolute;
    background: #fff;
    top: -9999em; // We have to declare this so that the element does not take up any space when it is first created, before it is displayed. Otherwise there will be a white gap at the bottom of the page equal to the height of the tallest popover.
}
