/**
 * @name       _headerBasic.scss
 * @desc       Skinning for H1-H6 default styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/ny/frg-coreui
 */

/**
 * --------------------------------------------------------
 * @section    H1-H6
 * @todo       Extract eMPIRE-specific styles
 * @see        http://css-tricks.com/rems-ems/
 * --------------------------------------------------------
 */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 2em;
    color: #3D5361;
}


// Since the items below only appear in sections, perhaps they should be moved? (CP)

h3 {
    font-size: 1.5em;
    border-bottom: none;
}

h4 {
    font-size: 1.35em;
    color: #454545;
}

h3,
h4 {
    padding-bottom: 1px;
    // text-indent: 0.25em; // Commented this out because when a title wraps only the first line is indented. Remove entirely if there are no side-effects of removing this. (CP 2/17/15)
    padding-left: 0.25em; // Instead of text-indent
    margin-bottom: 0.5em;
}

h5,
h6 {
    font-size: 1em;
    color: #454545;
}
