//   ========================================================
// * @name       _iconbutton/_variables.scss
// * @desc       sass variables
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150204
// * @see        https://github.com/ny/frg-coreui
//   ========================================================


// * @section    Fonts
// * @todo       Only PNGs and/or SVGs
// * --------------------------------------------------------
.emp-icon-legal-rep {
    background-image: url($emp-images-path + "emp-courthouse.png");
}

.emp-icon-add-event {
    background-image: url($emp-images-path + "emp-comments-add.png");
}

.emp-icon-diff-mail {
    background-image: url($emp-images-path + "emp-envelope.gif");
}

.emp-icon-data-joint {
    background-image: url($emp-images-path + "emp-document-view.png");
}

.emp-icon-list-joint {
    background-image: url($emp-images-path + "emp-popup.png");
}

.emp-workflow-item-next {
    background-image: url($emp-images-path + "emp-workflow-next.gif");
}

.emp-workflow-item-comments {
    background-image: url($emp-images-path + "emp-comments-view.png");
}

.emp-workflow-item-work-management {
    background-image: url($emp-images-path + "emp-workflow-in.gif");
}

















.emp-icon-buttons {
    right: 0;
    vertical-align: baseline;
}

.emp-icon-buttons li {
    padding-left: 0.6em;
}

.emp-icon-buttons a {
    width: 19px;
    height: 19px;
}

.emp-sections-toggle {
    background: transparent url($emp-images-path + "section-collapse-all.png") center left no-repeat;
}

.emp-sections-toggle-expand {
    background: transparent url($emp-images-path + "section-expand-all.png") center left no-repeat;
}

.emp-info-blocks-toggle {
    background: transparent url($emp-images-path + "section-help-hide-all.png") center left no-repeat;
}

.emp-info-blocks-toggle-expand {
    background: transparent url($emp-images-path + "section-help-show-all.png") center left no-repeat;
}

.emp-section-toggle {
    background: transparent url($emp-images-path + "section-collapse.png") center left no-repeat;
}

.emp-section-toggle-expand {
    background: transparent url($emp-images-path + "section-expand.png") center left no-repeat;
}

.emp-info-block-toggle {
    background: transparent url($emp-images-path + "section-help-hide.png") center left no-repeat;
}

.emp-info-block-toggle-expand {
    background: transparent url($emp-images-path + "section-help-show.png") center left no-repeat;
}

.emp-print {
    background: transparent url($emp-images-path + "printer.gif") center left no-repeat;
}

.emp-print-20 {
    background: transparent url($emp-images-path + "printer-20.gif") center left no-repeat;
}

.emp-dollar {
    background: transparent url($emp-images-path + "dollar.png") center left no-repeat;
}

.emp-pencil {
    background: transparent url($emp-images-path + "pencil.png") center left no-repeat !important;
}

.emp-trash {
    background: transparent url($emp-images-path + "delete.png") center left no-repeat !important;
}

.emp-popup {
    background: transparent url($emp-images-path + "popup.png") center left no-repeat !important;
}

.emp-section .emp-section .emp-icon-buttons a {
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.emp-section .emp-section .emp-section .emp-icon-buttons a {
    opacity: 0.8;
    filter: alpha(opacity=80);
}