@charset "UTF-8";
/**
 * @name       _sectionBasic.scss
 * @desc       Skinning section styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/ny/frg-coreui
 */

/**
 * --------------------------------------------------------
 * @section    Section styles
 * @todo       Extract eMPIRE-specific styles
 * --------------------------------------------------------
 */
section {
    border-color: #97B5C1;

    & > header {
        border-bottom: 1px solid #97B5C1;
        background-color: #EBF0F3;

        h3 {
        }
    }

    // Sub-section
    section {
        border-color: #BED0D8;
    }

    // Sub-sub-section
    section section {
        border-color: #CADADF;

        & > header {
            border-bottom-color: #CADADF;
            background-color: #F5F7F8;
        }
    }

    // Sub-sub-sub-section (level 4)
    section section section {
        & > header {

            h3 {
            }
        }
    }
}
