@charset "UTF-8";
/**
 * @name       _tableBasic.scss
 * @desc       Skinning for table styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui     
 */

/**
 * --------------------------------------------------------
 * @section    Default table styles
 * @todo       Extract eMPIRE-specific styles
 *             Take out IE7 hacks
 * --------------------------------------------------------
 */
 .cui-table-section {
	margin-top: 2px;
}

.cui-table-div {
    margin: 0 !important;
    padding: 0 !important;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}

thead, tbody {
    *border-width: 0 1px;
    *border-style: solid;
    *border-color: #ABC4CD;
}

th {
    background: #CDDEE4 url("../images/src/cui/table-header-bg.png") top left repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E2ECF0), to(#CDDEE4)) fixed;
    background-image: -webkit-linear-gradient(top, #E2ECF0 0%, #E2ECF0 30%, #CDDEE4 100%);
    background-image:    -moz-linear-gradient(top, #E2ECF0 0%, #E2ECF0 30%, #CDDEE4 100%);
    background-image:     -ms-linear-gradient(top, #E2ECF0 0%, #E2ECF0 30%, #CDDEE4 100%);
    background-image:      -o-linear-gradient(top, #E2ECF0 0%, #E2ECF0 30%, #CDDEE4 100%);
    border-bottom-color: #517988;
}

th, td {
    padding: 4px 6px 3px 6px;
    font-weight: normal;
    text-align: left;
    border: 1px solid #ABC4CD;    
}

tfoot td {
    padding: 8px 6px;
    border-width: 3px 0 0 0;
    border-style: solid;
    border-color: #ABC4CD;  
}

th img {
    margin-top: -3px;
}

.cui-table input[type="checkbox"], .cui-table input[type="radio"] {
    *height: 17px;
	padding: 0;
    margin-bottom: 3px;
    *margin: 0;
    vertical-align: middle;
}

.cui-table-title, .cui-table-options {
    margin-top: 0 !important;
    min-height: 1.7em;
}

.cui-table-title {
    font-size: 100%;
    font-weight: bold;
}

.cui-table-options a, .cui-table-options input {
    vertical-align: middle;
}

.cui-table-options input {
    margin-top: -2px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.cui-table td a {
    text-decoration: underline;
}

.cui-table-sort {
    margin: 3px 0 0 0;
    background: transparent url("../images/src/cui/column-sort.png") top left no-repeat;
    width: 7px;
    height: 9px;
    vertical-align: text-top;
}

.cui-footer-border { 
    border-width: 3px 1px 1px 1px !important;
}

.cui-normal-bg-color {
    background-color: #FFF;
}

.cui-alternate-bg-color {
    background-color: #F0F3F4;
}

.cui-table .cui-bold {
    color: #454545;
}

.cui-tr-selected {
    background: #FFDC89 url("../images/src/cui/row-selected-bg.png") top left repeat-x;
}

.cui-tr-expanded {
    border-width: 1px 1px 2px 1px !important;
    border-style: solid !important;
    border-color: #C0A38D #ABC4CD #FFD553 #ABC4CD !important;
}

.cui-tr-expanded td {
    padding: 4px 6px 6px 6px;
    border: none;
    *border-top: 1px solid #C0A38D !important;
    *border-bottom: 2px solid #FFD553 !important;
    background-color: #FFF8DF;
}

.cui-row-mouse-over {
    background: #F1F2F3 url("../images/src/cui/row-over-bg.png") top left repeat-x;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#F1F2F3), to(#D6DBDC)) fixed;
    background-image: -webkit-linear-gradient(top, #F1F2F3 0%, #D6DBDC 100%);
    background-image:    -moz-linear-gradient(top, #F1F2F3 0%, #D6DBDC 100%);
    background-image:     -ms-linear-gradient(top, #F1F2F3 0%, #D6DBDC 100%);
    background-image:      -o-linear-gradient(top, #F1F2F3 0%, #D6DBDC 100%);
    cursor: pointer;
}

.cui-table-title {
    color: #3D556C;
}

/**
 * --------------------------------------------------------
 * @section    List table (i.e. subscription lists)
 * @todo       Extract eMPIRE-specific styles
 * --------------------------------------------------------
 */
.cui-list-table th {
	padding: 8px 6px;
	font-weight: normal;
    background: #E3E7EA;
    color: #CC3300;
}

.cui-list-table th,
.cui-list-table td {
    border: 1px solid #CCC;
}

.cui-list-table td {
	padding: 6px 12px 6px 16px;
}

.cui-list-table a {
    margin-left: -8px;
    padding-left: 14px;
	text-decoration: underline;
    background: transparent url("../images/src/cui/menu-nav-down-arrow.png") center left no-repeat;
}

.cui-list-table img {
	margin: 0px 5px 1px -12px;
	vertical-align: baseline;
}

.cui-list-table .cui-sub-item td {
	padding: 4px 0px 4px 30px !important;
    border-bottom: 1px dashed #CCC !important;
    border-top: 0px;
}

.cui-list-table tr.selectedItem {
    background-color: #DFE2E5 !important;
}