// ==================================================================================
// Tooltips - Base styles
// ==================================================================================

@mixin tooltip {
    .tt {
        position: absolute;
        top: 0;
        left: 0;
        float: none;
        max-width: 400px;
        height: auto;
        margin: 0 0.5em 0.5em 0;
        padding: 0.1em;
        outline: none !important;
        border-color: #444;
        border-style: solid;
        border-width: 1px;
        background: #FFFFFF none top left repeat-x scroll;
        box-shadow: 2px 2px 4px #bbb;
        z-index: 2;

        // Tooltip pointer fill
        &:after {
            content: " ";
            position: absolute;
            top: -18px;
            left: 200px;
            display: block;
            width: 0;
            height: 0;
            margin-top: 2px;
            border-top: 9px solid transparent;
            border-bottom: 8px solid #ffffff;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            z-index: 2;
        }

        // Tooltip pointer border
        &:before {
            content: " ";
            position: absolute;
            top: -19px;
            left: 200px;
            display: block;
            width: 0;
            height: 0;
            margin-top: 2px;
            margin-left: -1px;
            border-top: 9px solid transparent;
            border-bottom: 8px solid #444444;
            border-left: 9px solid transparent;
            border-right: 9px solid transparent;
            z-index: 1;
        }

        .tt-close-wrapper {
            display: block;
            clear: both;
            margin: 1em;
            padding: 1px;
            text-align: center;
        }

        .tt-close {
            &,
            &:hover,
            &:focus {
                cursor: pointer;
            }

            &:active {
                // outline: none;
            }
        }

        .tt-body {
            display: block;
            // float: none;
            clear: both;
            padding: 0.4em;
        }
    }

    // .responsive.bp-main {
    //     .tt {
    //         z-index: 10;
    //     }

    //     // Buttons should match the responsive button look
    //     .tt.ttFieldInstructions .tt-close {
    //         @include button;
    //         line-height: 24px;
    //     }
    // }

    // // Touch screen styles unrelated to screen size
    // // .touch .group .tt { //LTS
    // .responsive.touch .group .tt {
    //     z-index: 11; // 1 greater than `.touch.page` in _banner.scss -- maybe no longer needed since `.page` is no longer used?
    // }
}

@mixin tooltip-icon {
    div.group .help {
        *display: inline; /* ie7 */
        display: inline-block;
        vertical-align: middle;
    }

    a.help {
        text-decoration: none;
        border: none;
    }

    a.help img {
        vertical-align: text-top;
        margin-top: -1px;
    }

    // Touch screen styles unrelated to screen size
    // .touch .group { //LTS
    // .responsive.touch .group {
    //     .help {
    //         width: 24px;
    //         height: 24px;
    //         background-size: 24px 24px;
    //         box-sizing: content-box;
    //         border-radius: 0;

    //         text-indent: 100%;
    //         white-space: nowrap;
    //         overflow: hidden;
    //     }

    //     .help,
    //     .icon-help {
    //         display: inline-block;
    //         position: relative;
    //         width: 28px;
    //         height: 28px;
    //         margin: 4px;
    //         font-size: 100%;
    //         text-indent: 1000em;
    //         color: transparent;
    //         background-color: transparent;
    //         background-repeat: no-repeat;
    //         background-image: url("#{$images-path}question-mark.svg");
    //         background-position: 0 0; // override `.icon-button` in `_desktop.scss`
    //         border: none;             // override `.icon-button` in `_desktop.scss`
    //         background-size: 28px 28px;
    //         cursor: pointer;
    //         text-decoration: none; // A sliver of the underline appears on Android and maybe other untested WebKits

    //         // Hide image in the HTML
    //         img {
    //             display: none;
    //         }
    //     }
    // } // end `.responsive.touch .group`
}

// ==================================================================================
// Tooltips - iflow styles
// ==================================================================================

@mixin tooltip-iflow {
    .tt.ttFieldInstructions {
        border-color: #9CAEBD #526D84 #526D84 #9CAEBD;
        background: #FFFFBA none top left repeat-x scroll;
        @include vertical-gradient(#FFFFE8, #FFFFBA);
        border-radius: 4px;
        background-clip: padding-box;

        // Tooltip pointer fill
        &:after {
            border-bottom: 8px solid #FFFFE8;
        }

        // Tooltip pointer border
        &:before {
            border-bottom: 8px solid #9CAEBD;
        }

        p {
            vertical-align: baseline;
        }

        .tt-close-wrapper {
            margin: 1em auto;
        }

        .tt-close {
            display: inline-block;
            position: relative;
            top: 4px;
            width: 4em;
            height: 1.85em;
            line-height: 1.75em;
            font-size: 100%;
            border: 1px solid #576F86;
            color: #333;
            text-decoration: none;
            text-align: center;
            background: #DDEAF9 url("#{$images-path}ButtonBg.png") repeat-x scroll left top;
            @include vertical-gradient-multiple(#FEFEFF 0%, #E9ECF7 44%, #D4DBED 44%, #DFE4F4 100%);
            box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
            border-radius: 4px;
            background-clip: padding-box;
            @include transition(0.1s ease all);

            &:hover,
            &:focus {
                text-decoration: none;
                background: #FEFEFF url("#{$images-path}ButtonBgHover.png") repeat-x scroll left top;
                @include vertical-gradient-multiple(#FEFEFF 0%, #F0F2FA 44%, #E1E6F3 44%, #E9ECF7 100%);
                box-shadow: 1px 1px 2px rgba(0,0,0,0.7);
            }

            &:active {
                text-decoration: none;
                box-shadow: 1px 1px 0 rgba(0,0,0,0.8);
            }
        }

        .tt-body {
            line-height: 1.2em;
            padding: 0.4em;
        }
    }
}

@include tooltip;
