//   ========================================================
// * @name       _utilities/_variables.scss
// * @desc       sass variables
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20150204
// * @see        https://github.com/ny/frg-coreui
//   ========================================================


// * @section    Fonts
// * --------------------------------------------------------
$font-basic:           Arial, sans-serif !default;
$font-family:          "Proxima Nova", $font-basic !default;
$font-size:            16px !default;
$font-weight-light:    400 !default;
$font-weight-semibold: 600 !default;
$line-height:          1 !default;
// Headings
$font-heading:         $font-family !default;
// Required *
$font-required:        1.1em $font-basic !default;


// * @section    Colors
// * --------------------------------------------------------
$white:                #ffffff !default;
$dark-gray:            #333333 !default;
$dark-gray-alt:        #454545 !default;
$dark-gray-alt-2:      #646460 !default;
$light-gray:           #dededc !default;
$light-gray-alt:       #eeeeec !default;
$light-gray-alt-2:     #bfbfbd !default;
$light-gray-alt-3:     #e7e7e5 !default;
$light-gray-alt-4:     #e6ebec !default;
$text-error:           #b52c29 !default;
$text-warning:         #ba7b05 !default;
$text-information:     #1b2a5e !default;
$text-success:         #468453 !default;
$required-red:         #ee3300 !default;
$light-blue:           #19a6e2 !default;


// * @section    General
// * --------------------------------------------------------
$border-radius:        4px !default;
$border-radius-small:  2px !default;
$margin-center-h:      0 auto !default;
$margin-center-v:      auto 0 !default;
$images-path:          "../../images/cui/" !default;
$touch-min-height:     44px;
$link-color:           $light-blue !default;


// * @section    Buttons
// * --------------------------------------------------------
$button-hover-color:   $light-gray !default;
$button-padding-top:     8px !default;
$button-padding-right:   12px !default;
$button-padding-bottom:  8px !default;
$button-padding-left:    12px !default;
$button-padding:         $button-padding-top $button-padding-right $button-padding-bottom $button-padding-left !default;
$button-border-color:  #a5a5a3 !default;
$button-border-width:  1px !default;
$button-bg-color:      #d0d0ce !default;
$button-text-shadow:   rgb(255, 255, 255) 0 1px 0 !default;

// Primary button
$button-primary-text-color:         $white !default;
$button-primary-bg-color:           $dark-gray-alt-2 !default;
$button-primary-border-color:       #5a5a56 !default;
$button-primary-border:             $button-border-width solid $button-primary-border-color !default;
$button-primary-text-shadow:        rgb(90, 90, 90) 0 1px 0 !default;
$button-primary-border-hover-color: #444440 !default;
$button-primary-bg-hover-color:     #50504b !default;

// Icon buttons
$button-icon-padding-top:    7px !default;
$button-icon-padding-right:  8px !default;
$button-icon-padding-bottom: 8px !default;
$button-icon-padding-left:   8px !default;
$button-icon-padding:        $button-icon-padding-top $button-icon-padding-right $button-icon-padding-bottom $button-icon-padding-left !default;

$button-icon-width:    24px !default;
$button-icon-height:   24px !default;


// * @section    Inputs
// * --------------------------------------------------------
$input-border-color:   $light-gray-alt-2 !default;
$input-border-width:   1px !default;
$input-border:         $input-border-width solid $input-border-color !default;
$input-border-color-focus:   #66afe9 !default;
$input-border-radius:  $border-radius !default;
$input-padding-top:     4px !default;
$input-padding-right:  10px  !default;
$input-padding-bottom:  4px  !default;
$input-padding-left:   10px !default;
$input-padding:        $input-padding-top $input-padding-right $input-padding-bottom $input-padding-left !default;
$input-bg-hover-color: $light-gray !default;
$input-font-size:      14px !default;
$input-font-weight:    $font-weight-light !default;
$input-boxshadow-focus: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6) !default;


// * @section    Grid
// * --------------------------------------------------------
$grid-gutter-width:    10px !default;
$grid-row-margin:      0 auto $grid-gutter-width auto !default;
$grid-column-padding:  0 $grid-gutter-width !default;


// * @section    Headers
// * --------------------------------------------------------
$header-padding:       0 0 0.4em 0 !default;


// * @section    Sections
// * --------------------------------------------------------


// * @section    Text (<p>, free text, etc.)
// * --------------------------------------------------------

$text-line-height:    1.4 !default;
$paragraph-padding:   0.7em !default;


// * @section    Tables
// * --------------------------------------------------------
$table-header-bg-color:     $light-gray !default;
$table-header-padding:      8px 12px !default;
$table-row-bg-alt-color:    $light-gray-alt !default;
$table-cell-border-width:   1px !default;
$table-cell-border-style:   solid !default;
$table-cell-border-color:   $light-gray-alt-2 !default;
$table-cell-border:         $table-cell-border-width $table-cell-border-style $table-cell-border-color !default;
$table-cell-padding-top:    4px !default;
$table-cell-padding-right:  8px !default;
$table-cell-padding-bottom: 4px !default;
$table-cell-padding-left:   8px !default;
$table-cell-padding:        $table-cell-padding-top $table-cell-padding-right $table-cell-padding-bottom $table-cell-padding-left !default;
$table-button-padding:      $table-cell-padding !default;
$table-footer-cell-padding: 8px 6px !default;
$table-row-bg-hover-color:  $light-gray-alt-3;


// * @section    Lists
// * --------------------------------------------------------
$list-inline-spacing: 1em !default;


// * @section    Breakpoint
// * --------------------------------------------------------
$bp-medium:        480px !default;
$bp-medium-minus:  $bp-medium - 1px !default;
$bp-large:         786px !default;
$bp-large-minus:   $bp-large - 1px !default;
