@charset "UTF-8";
/**
 * CoreUI main css
 * Version 1.0.0.20141231
 * URL: https://github.com/nys-its/frg-coreui/coreui
 */

/**
 * Additional resets (need them?)
 */
body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

legend {
    white-space: normal;
    display: inline-block;
}

/**
 * Avoid box model inconsistencies
 */
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/**
 * Define font types and adjustments | http://css-tricks.com/rems-ems/
 */
html {
    font: 13px "Segoe UI", Tahoma, Arial, Consolas, sans-serif;
    color: #333;
}

@media only screen and (min-width:480px) {
    html {
        font-size: 14px;
    }
}

@media only screen and (min-width:786px) {
    html {
        font-size: 15px;
    }
}