//   ========================================================
// * @name       _grid.scss
// * @desc       Responsive grid styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/nys-its/frg-coreui     
//   ========================================================


// * @section    Row and col structures
// * @desc       The grid's row and columns (default cols 12)
// *             - Fluid & fixed + fluid layouts with fillers
// *             - Clearfix to force new row
// * --------------------------------------------------------
.cui-row {
    width: 100%;
    clear: both;
}

[class*="cui-col-sm-"],
[class*="cui-fixed-col-"] {
    float: left;
}

[class*="cui-col-"],
[class*="cui-fixed-col-"],
[class*="cui-filler-col-"] {
    position: relative;
    @include clearfix;
}

.cui-filler-col-sm {
    float: none;
    width: auto;
    @include clearfix;
}

.cui-row,
[class*="cui-filler-col-"],
.cui-clearfix {
    @include clearfix;
}


// * @section    Hide columns
// * --------------------------------------------------------
.cui-hide-col-sm {
    display: none;
}


// * @section    Mobile-first (small) default column widths
// * --------------------------------------------------------
.cui-col-sm-12 {
    width: 100%;
}

.cui-col-sm-11 {
    width: 91.66666667%;
}

.cui-col-sm-10 {
    width: 83.33333333%;
}

.cui-col-sm-9 {
    width: 75%;
}

.cui-col-sm-8 {
    width: 66.66666667%;
}

.cui-col-sm-7 {
    width: 58.33333333%;
}

.cui-col-sm-6 {
    width: 50%;
}

.cui-col-sm-5 {
    width: 41.66666667%;
}

.cui-col-sm-4 {
    width: 33.33333333%;
}

.cui-col-sm-3 {
    width: 25%;
}

.cui-col-sm-2 {
    width: 16.66666667%;
}

.cui-col-sm-1 {
    width: 8.33333333%;
}


// * @section    Tablet (medium) column widths
// * --------------------------------------------------------
@media only screen and (min-width:$bp-tablet) {
    [class*="cui-col-md-"] {
        float: left;
    }

    .cui-filler-col-md {
        float: none;
        width: auto;
        overflow: hidden;
    }

    .cui-hide-col-md {
        display: none;
    }

    .cui-hide-col-sm,
    .cui-hide-col-lg {
        display: block;
    }

    .cui-col-md-12 {
        width: 100%;
    }

    .cui-col-md-11 {
        width: 91.66666667%;
    }

    .cui-col-md-10 {
        width: 83.33333333%;
    }

    .cui-col-md-9 {
        width: 75%;
    }

    .cui-col-md-8 {
        width: 66.66666667%;
    }

    .cui-col-md-7 {
        width: 58.33333333%;
    }

    .cui-col-md-6 {
        width: 50%;
    }

    .cui-col-md-5 {
        width: 41.66666667%;
    }

    .cui-col-md-4 {
        width: 33.33333333%;
    }

    .cui-col-md-3 {
        width: 25%;
    }

    .cui-col-md-2 {
        width: 16.66666667%;
    }

    .cui-col-md-1 {
        width: 8.33333333%;
    }

    [class$="-200"] {
        width: 200px;
    }
}


// * @section    Desktop (large) column widths
// * --------------------------------------------------------
@media only screen and (min-width:$bp-desktop) {
    [class*="cui-col-lg-"] {
        float: left;
    }

    .cui-filler-col-lg {
        float: none;
        width: auto;
        overflow: hidden;
    }

    .cui-hide-col-lg {
        display: none;
    }

    .cui-hide-col-sm,
    .cui-hide-col-md {
        display: block;
    }

    .cui-col-lg-12 {
        width: 100%;
    }

    .cui-col-lg-11 {
        width: 91.66666667%;
    }

    .cui-col-lg-10 {
        width: 83.33333333%;
    }

    .cui-col-lg-9 {
        width: 75%;
    }

    .cui-col-lg-8 {
        width: 66.66666667%;
    }

    .cui-col-lg-7 {
        width: 58.33333333%;
    }

    .cui-col-lg-6 {
        width: 50%;
    }

    .cui-col-lg-5 {
        width: 41.66666667%;
    }

    .cui-col-lg-4 {
        width: 33.33333333%;
    }

    .cui-col-lg-3 {
        width: 25%;
    }

    .cui-col-lg-2 {
        width: 16.66666667%;
    }

    .cui-col-lg-1 {
        width: 8.33333333%;
    }
}


// * @section    Push columns
// * --------------------------------------------------------
.cui-pull-right {
    float: right;
}