//   ========================================================
// * @name       _labeldata.scss
// * @desc       Skinning for labels and data styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/nys-its/frg-coreui/coreui     
//   ========================================================

// * @section    Label/data wrapper styles
// * --------------------------------------------------------
.cui-label,
.cui-data {
    float: left;
    display: block;
    position: relative;
}

// * @section    Label/data wrapper styles
// * @desc       Defaults section's/widget's body data
// *             containers to have a table-cell style so
// *             that data inside these can wrap and remain
// *             in place.
// *
// *             Example:
// *
// *             My Label is    So is the data... When the
// *             too long:      data inside this container
// *                            gets longer than the label,
// *                            the data here should remain
// *                            in place and not move or wrap
// *                            below the label. 
// *
// *             These wrappers are defaulted to table-cell
// *             because we're assuming most labels will have
// *             a specific fixed width, like 200px or 100em.
// *             If the label is fixed in width, then the
// *             data wrapper will use width: auto to comply
// *             with fluid design. Because of this, we need 
// *             to use table-cell in order to keep both divs
// *             next to each other (left and right).
// *             On the other hand, when the label and data
// *             containers use a variable width, like 20% or
// *             auto, the label-wrap must be floated left to
// *             gain layout.
// * --------------------------------------------------------
section .cui-data {
    float: none;
    display: table-cell;
}

.cui-required label:after {
    content: "*";
}