@charset "UTF-8";
/* CoreUI links css
Version 1.0.0.20150101
URL:https://github.com/nys-its/frg-coreui/coreui */

a {
    text-decoration: underline;
}

a:hover, a:visited:hover {
    text-decoration: underline;
}