@charset "UTF-8";
/**
 * @name       _menu.scss
 * @desc       Menu styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui     
 */

/**
 * --------------------------------------------------------
 * @section    Default horizontal menu styles
 * @todo       Extract eMPIRE-specific styles
 * --------------------------------------------------------
 */
.cui-menu-horizontal-wrap {
    float: left;
}

.cui-menu-horizontal li {
    float: left;
}

.cui-menu-horizontal a,
.cui-menu-horizontal .cui-disabled,
.cui-menu-horizontal .cui-filler {
    float: left;
}

.cui-menu-horizontal .cui-sub-menu li {
    clear: both;
}

/**
 * --------------------------------------------------------
 * @section    Default vertical menu styles
 * @todo       Extract eMPIRE-specific styles
 * --------------------------------------------------------
 */   
.cui-menu-vertical {
    clear: both;
}

.cui-menu-vertical a,
.cui-menu-vertical .cui-disabled {
    display: inline-block;
}

.cui-menu-vertical img {
    display: inline;
}