@charset "UTF-8";
/**
 * @name       _misc.scss
 * @desc       Miscellaneous styles
 * @author     Manolo Farfan
 * @version    1.0.0.20141231
 * @see        https://github.com/nys-its/frg-coreui/coreui     
 */

/**
 * --------------------------------------------------------
 * @section    Core UI miscellaneous default ui patterns
 * @todo       Extract eMPIRE-specific styles
 *             Take out IE7 hacks
 * --------------------------------------------------------
 */
.cui-right-align,
.cui-money,
.cui-money input {
    text-align: right;
}

.cui-center-align {
    text-align: center;
}

.cui-hidden {
    display: none !important;
}

.cui-hide-from-screen {
    position: absolute;
    top: 0;
    left: -9999px;
    width: 1px;
    overflow: hidden;
    white-space: nowrap;
    z-index: 0;
}

.cui-icon-button {
    display: inline-block;
}

.cui-bold {
    font-weight: bold;
}

.cui-not-bold {
    font-weight: normal;
}

.cui-display-block {
    display: block;
}

.cui-display-inline-block {
    display: inline-block;
}

.cui-vertical-align-middle {
    vertical-align: middle;
}

.cui-no-wrap {
    white-space: nowrap;
}

.cui-width-auto {
    width: auto !important;
}

.cui-clear-left {
    clear: left !important;
}

.cui-clear-right {
    clear: right !important;
}

.cui-clear {
    clear: both !important;
}

.cui-no-border {
	border: none !important;
}

.cui-no-border-l {
    border-left: none !important;
}

.cui-no-border-r {
    border-right: none !important;
}

.cui-no-border-t {
    border-top: none !important;
}

.cui-no-border-b {
    border-bottom: none !important;
}

.cui-has-border {
    border-width: 1px;
    border-style: solid;
}

.cui-scroll-auto {
    overflow: auto !important;
}

.cui-disabled {
    cursor: default;
}

.cui-overflow-visible {
	overflow: visible !important;
}

.cui-accessible, .cui-acc-type-1, .cui-acc-type-2 {
    /* Accessibility placeholders for JavaScript interaction
       - cui-acc-type-1: Sections
       - cui-acc-type-2: [B] Bankrupcy Exists
    */
}

.cui-italicized {
    font-style: italic;
}

.cui-float-left {
    float: left;
}

.cui-float-right {
    float: right;
}

.cui-margin-center-align {
    margin: 0px auto;
    padding: 0px auto;
}