//   ========================================================
// * @desc       Form field styles
// * @see        https://github.com/ny/coreui
//   ========================================================


// * @section    Form tag
// * --------------------------------------------------------
form {
    @include clearfix;
}


// * @section    Form input elements
// * --------------------------------------------------------
input,
textarea,
select {
    font-family: $cui-font-family;
    font-size: 100%;
    font-weight: $cui-input-font-weight;
    border-radius: $cui-input-border-radius;
    border: $cui-input-border;
    padding: $cui-input-padding;
    color: $cui-color-dark-gray;
    @include input-shadow;
    @include transition(border-color ease-in-out .15s, box-shadow ease-in-out .15s);

    &:focus{
        border-color: $cui-input-border-color-focus;
        box-shadow: $cui-input-boxshadow-focus;
        outline: 0;
    }
}

select {
    padding: ($cui-input-padding-top - $cui-input-difference-in-padding-value) $cui-input-padding-right ($cui-input-padding-bottom - $cui-input-difference-in-padding-value) $cui-input-padding-left;
}

input[type="checkbox"],
input[type="radio"] {
    position: relative;
    top: 1px;
    line-height: $cui-field-line-height;
}

input[type="checkbox"],
input[type="radio"],
input[type="image"] {
    border: none;
}

.cui-currency input {
    text-align: right;
}

textarea {
    resize: vertical;
}

fieldset {
    @include no-padding-margin;
    border: none;
}

.cui-data {
}

// * @section    Labels
// * --------------------------------------------------------
label,
legend {
    color: $cui-color-dark-gray;
    width: auto;
}

legend {
    white-space: normal;
    display: inline-block;
}

.cui-label {
    cursor: default; // Ensures all "labels" get the same arrowhead cursor whether or not they contain a `<label>` element
}

.cui-required {
    .cui-label {
        label,
        legend,
        span {
            position: relative;

            &:after {
                @include required-asterisk;

                .cui-inline-field & {
                    @include required-asterisk($isInlineField: true);
                }
            }
        }
    }
}


// * @section    Fields, i.e. a collection of label + data
// * --------------------------------------------------------
.cui-field {
    margin-bottom: $cui-input-font-size;

    .cui-label,
    .cui-data {
        display: block;
        position: relative;
        padding-left: 0;
        padding-right: 0;

        // Apply the same styles that `<legend>` gets in any context (further up in this file)
        label {
            white-space: normal;
            display: inline-block;
        }
    }

    .cui-label {
        min-height: $cui-font-size * 2;
    }
}


// * @section    Fields with inline label and data on the same line
// * @desc       The label and data text wrap independently
// *             such that they are top-aligned.
// *
// *             Example:
// *
// *             My Label is    So is the data... When the
// *             too long:      data inside this container
// *                            gets longer than the label,
// *                            the data here should remain
// *                            in place and not move or wrap
// *                            below the label.
// * --------------------------------------------------------
.cui-inline-field {
    .cui-field {
        display: flex;
        margin-bottom: 0;

        .cui-label,
        .cui-data {
            @include col;
            line-height: $cui-inline-field-line-height;
        }

        .cui-label {}

        .cui-data {
            margin-left: $cui-input-font-size; // Space between the label and data
        }

        .cui-input-wrapper {
            display: flex;

            input {
            }

            .cui-input-append {
            }
        }
    }
}


// * @section    Selection groups
// * --------------------------------------------------------
.cui-selection-group {
    display: flex;

    .cui-inline-field & {
        position: relative;
        top: (0.25 * $cui-font-size);
    }

    label {
        flex: 0 1 auto;
        @include user-select;
        line-height: $cui-field-line-height;

        // Colors and paddings matches buttons styles
        background-color: $cui-color-white;
        text-shadow: $cui-color-white 0px 1px 0px;
        padding: $cui-inputgroup-padding;
        border: $cui-input-border;
        border-right: none; // This line must come after default `border` definition

        // First label in the group
        &:first-of-type {
            border-top-left-radius: $cui-input-border-radius;
            border-bottom-left-radius: $cui-input-border-radius;
        }

        // Last label in the group
        &:last-of-type {
            border-top-right-radius: $cui-input-border-radius;
            border-bottom-right-radius: $cui-input-border-radius;
            border-right: $cui-input-border; // Color matches buttons styles
        }

        &:hover {
            background-color: $cui-button-bg-color; // Color matches buttons
        }

        &:active {
            @include button-primary-active;
        }
    }

    // Hide inputs off screen
    input {
        @include hide;
    }

    // Highlighted label
    input:checked + label {
        background-color: $cui-input-bg-hover-color; // Color matches buttons styles

        &:hover {
            background-color: $cui-button-bg-color; // Color matches buttons
        }

        &:active {
            @include button-primary-active;
        }
    }
}


// * @section    Input groups and field appends/prepends
// * --------------------------------------------------------
.cui-input-wrapper {
    display: flex;
    @include col;
    border-collapse: separate; // Prevent input groups from inheriting border styles from table cells when placed within a table

    input,
    select,
    .cui-input-prepend,
    .cui-input-append {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
        padding: 5px 10px 5px 10px;
    }

    // Keep borders rounded if no prepend
    *:first-child:not(.cui-input-prepend) {
        border-top-left-radius: $cui-input-border-radius;
        border-bottom-left-radius: $cui-input-border-radius;
    }

    // Keep borders rounded if no append
    *:last-child:not(.cui-input-append) {
        border-top-right-radius: $cui-input-border-radius;
        border-bottom-right-radius: $cui-input-border-radius;
    }

    .cui-input-prepend,
    .cui-input-append {
        @include col(0 0 auto);
        line-height: $cui-field-line-height;
        border: $cui-input-border;
        @include box-sizing(content-box);
        background: $cui-input-bg-hover-color;
        vertical-align: middle;
        white-space: nowrap;
        text-align: center;
        padding: $cui-input-padding;
    }

    .cui-input-prepend {
        border-right: none;
        border-top-left-radius: $cui-input-border-radius;
        border-bottom-left-radius: $cui-input-border-radius;
    }

    .cui-input-append {
        border-left: none;
        border-top-right-radius: $cui-input-border-radius;
        border-bottom-right-radius: $cui-input-border-radius;
    }

    &.cui-currency {
        position: relative;
        // Vertically align with the label by offsetting it one-quarter of the different between the input's height and the data div's height
        top: (($cui-inline-field-line-height - $cui-grid-column-min-height) / 4);

        input {
            flex: 0 1 auto;
            padding-right: 4px; // Keep number inside input closer to append
        }

        .cui-input-prepend {
            flex: 0 0 (1 * $cui-input-font-size);
            max-width: (1 * $cui-input-font-size);
            line-height: (1.5 * $cui-input-font-size); // Use 50% more than the input's font size so the text vertically aligns
        }

        .cui-input-append {
            padding-left: 4px; // Keep number inside append closer to input
            flex: 0 0 (1.5 * $cui-input-font-size);
            max-width: (1.5 * $cui-input-font-size);
            line-height: (1.5 * $cui-input-font-size); // Use 50% more than the input's font size so the text vertically aligns
        }
    }
}


// * @section    Suppress spinners on numeric inputs
// * --------------------------------------------------------
input[type=number].cui-hide-spinner::-webkit-inner-spin-button,
input[type=number].cui-hide-spinner::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number].cui-hide-spinner {
    -moz-appearance: textfield;
}
