//   ========================================================
// * @name       _labeldata.scss
// * @desc       Skinning for labels and data styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/ny/frg-coreui
//   ========================================================

label,
legend {
    color: $cui-color-dark-gray;
    width: auto;
}

// * @section    Label/data wrapper styles
// * @desc       Defaults section's/widget's body data
// *             containers to have a table-cell style so
// *             that data inside these can wrap and remain
// *             in place.
// *
// *             Example:
// *
// *             My Label is    So is the data... When the
// *             too long:      data inside this container
// *                            gets longer than the label,
// *                            the data here should remain
// *                            in place and not move or wrap
// *                            below the label.
// *
// *             These wrappers are defaulted to table-cell
// *             because we're assuming most labels will have
// *             a specific fixed width, like 200px or 100em.
// *             If the label is fixed in width, then the
// *             data wrapper will use width: auto to comply
// *             with fluid design. Because of this, we need
// *             to use table-cell in order to keep both divs
// *             next to each other (left and right).
// *             On the other hand, when the label and data
// *             containers use a variable width, like 20% or
// *             auto, the label-wrap must be floated left to
// *             gain layout.
// * --------------------------------------------------------
.cui-label,
.cui-data {
    float: left;
    display: block;
    position: relative;
    line-height: $cui-line-height * 2;
    padding-left: 0;
    padding-right: 0;
}

.cui-data-left .cui-data,
.cui-label {
    padding-right: 0.2em;
    cursor: default; // Ensures all "labels" get the same arrowhead cursor whether or not they contain a `<label>` element
}

.cui-data-left .cui-label,
.cui-data {
    padding-left: 0.2em;
}

section .cui-data-left .cui-label,
section .cui-data {
    float: none;
    display: table-cell;
}

.cui-required {
    label:after {
        content: "*";
        color: $cui-color-required-red;
        font: $cui-font-required;
        font-weight: $cui-font-weight-semibold;
        margin-left: 0.2em;
    }
}