//   ========================================================
// * @name       _message.scss
// * @desc       Messages styles
// * @author     Manolo Farfan, Craig Patik
// * @version    1.0.0.20141231
// * @see        https://github.com/ny/frg-coreui
//   ========================================================


// * @section    Messages for error, warning, success, etc.
// * --------------------------------------------------------

// List containing messages
.cui-messages {
    li {
        width: 100%;
        text-indent: 0;
        list-style-type: none;
        margin-bottom: 0.4em;
    }
}

// Message item
[class*="cui-message-"] {
}

// Error message item
.cui-error {
    color: $text-error;
}

// Warning message item
.cui-warning {
    color: $text-warning;
}

// Success message item
.cui-success {
    color: $text-success;
}

// Informational message item
.cui-info {
    color: $text-information;
}
