$cui-dd-toggler-padding: $cui-input-padding !default;

$cui-dd-thumb-width: $cui-input-font-size !default;
$cui-dd-item-padding-vertical: $cui-input-padding-top !default;
$cui-dd-item-padding-horizontal: $cui-input-padding-right !default;
$cui-dd-item-padding: 6px 6px 6px 6px !default;

$cui-dd-item-bg-color-hover: $cui-input-bg-hover-color !default;

$cui-dd-thumb-color: $cui-input-color !default;

$cui-dd-list-border-color: $cui-input-border-color !default;

$cui-dd-shadow-color: $cui-input-border-color !default;
$cui-dd-border-radius: $cui-border-radius !default;
